<h1>Accordian Demo</h1>

<accordian [isBordered]="true" [isMultiSelectable]="true" [isOutlined]="false" [isAnimated]="true">
  <accordian-item heading="First Amendment">
    <p>Congress shall make no law respecting an establishment of religion, or prohibiting the free exercise thereof; or
      abridging the freedom of speech, or of the press; or the right of the people peaceably to assemble, and to
      petition the Government for a redress of grievances.</p>
  </accordian-item>

  <accordian-item heading="Second Amendment">
    <p>A well regulated Militia, being necessary to the security of a free State, the right of the people to keep and
      bear Arms, shall not be infringed.
    </p>
  </accordian-item>

  <accordian-item heading="custom heading">
    <ul>
      <li><a href="#">Hellow</a></li>
      <li><a href="#">Hellow</a></li>
      <li><a href="#">Hellow</a></li>
      <li><a href="#">Hellow</a></li>
    </ul>
  </accordian-item>
</accordian>

<alert headingLevel="h1" type="emergency" [slim]="true" [hideIcon]="true">
  Please check all the errors
</alert>

<!-- 
<h1> Alert Demo </h1>

<alert heading="Success status" headingLevel="h1" type="success">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
</alert>

<br />

<alert heading="Warning status" headingLevel="h2" type="warning">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
</alert>

<br />

<alert heading="Error status" headingLevel="h6" type="error">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
</alert>

<br />

<alert heading="Info status" headingLevel="h6" type="info">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
</alert>

<br />

<alert heading="Emergency status" headingLevel="h6" type="emergency">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
  <ul>
    <li>Lorem ipsum dolor sit amet</li>
    <li>Lorem ipsum dolor sit amet</li>
    <li>Lorem ipsum dolor sit amet</li>
    <li>Lorem ipsum dolor sit amet</li>
  </ul>
</alert>

<br />

<alert headingLevel="h6" type="info" [slim]="true" [hideIcon]="true">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
</alert> -->

<br />

<div>
  <ng-button (click)="btnClicked()" type="submit" [isBlocked]="true">Click me </ng-button>
</div> <br />
<ng-button (click)="btnClicked()" type="submit">Click me </ng-button>
<ng-button (click)="btnClicked()" type="submit" variant="accent-cool">Click me </ng-button>
<ng-button (click)="btnClicked()" type="submit" variant="accent-warm">Click me </ng-button>
<ng-button (click)="btnClicked()" type="submit" variant="base">Click me </ng-button>
<ng-button (click)="btnClicked()" type="submit" [disabled]="true">Click me </ng-button>

<br />

<h1>Cards</h1>
<cards>
  <!--  -->
  <card [cardOptions]="cardOptions">
    <card-header>
      <h4 class="usa-card__heading">Card</h4>
    </card-header>

    <card-content>
      <p>This is the content of the card. It can contain text, images, or any HTML.</p>
    </card-content>

    <card-footer>
      <ng-button (click)="btnClicked()" type="submit">Click me </ng-button>
    </card-footer>
  </card>

  <card [cardOptions]="cardOptions">
    <card-header>
      <h4 class="usa-card__heading">Card</h4>
    </card-header>

    <card-content>
      <p>This is the content of the card. It can contain text, images, or any HTML.</p>
    </card-content>

    <card-footer>
      <ng-button (click)="btnClicked()" type="submit">Click me </ng-button>
    </card-footer>
  </card>

  <card [cardOptions]="cardOptions">
    <card-header>
      <h4 class="usa-card__heading">Card</h4>
    </card-header>

    <card-content>
      <p>This is the content of the card. It can contain text, images, or any HTML.</p>
    </card-content>

    <card-footer>
      <ng-button (click)="btnClicked()" type="submit">Click me </ng-button>
    </card-footer>
  </card>

  <card [cardOptions]="cardOptions">
    <card-header>
      <h4 class="usa-card__heading">Card</h4>
    </card-header>

    <card-content>
      <p>This is the content of the card. It can contain text, images, or any HTML.</p>
    </card-content>

    <card-footer>
      <ng-button (click)="btnClicked()" type="submit">Click me </ng-button>
    </card-footer>
  </card>

</cards>
<!-- 
  <li class="tablet-lg:grid-col-6 widescreen:grid-col-4">
    <card mediaSrc="https://placehold.co/200x300" mediaSrcAlt="Description of media" mediaSrcPosition="right"
      mediaFitType="extended">

      <card-header>
        <h4 class="usa-card__heading">Card</h4>
      </card-header>

      <card-content>
        <p>This is the content of the card. It can contain text, images, or any HTML.</p>
      </card-content>

      <card-footer>
        <ng-button (click)="btnClicked()" type="submit">Click me </ng-button>
      </card-footer>
    </card>
  </li>

  <li class="tablet-lg:grid-col-6 widescreen:grid-col-4">
    <card mediaSrc="https://placehold.co/200x300" mediaSrcAlt="Description of media" mediaSrcPosition="right"
      mediaFitType="extended">

      <card-header>
        <h4 class="usa-card__heading">Card</h4>
      </card-header>

      <card-content>
        <p>This is the content of the card. It can contain text, images, or any HTML.</p>
      </card-content>

      <card-footer>
        <ng-button (click)="btnClicked()" type="submit">Click me </ng-button>
      </card-footer>
    </card>
  </li> -->



<!-- <ul class="usa-card-group">
  <li class="usa-card tablet-lg:grid-col-6 widescreen:grid-col-4">
    <div class="usa-card__container">
      <div class="usa-card__header">
        <h4 class="usa-card__heading">Card</h4>
      </div>
      <div class="usa-card__body">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis earum
          tenetur quo cupiditate, eaque qui officia recusandae.
        </p>
      </div>
      <div class="usa-card__footer">
        <a href="#" class="usa-button">Visit Florida Keys</a>
      </div>
    </div>
  </li>
  <li class="usa-card tablet-lg:grid-col-6 widescreen:grid-col-4">
    <div class="usa-card__container">
      <div class="usa-card__header">
        <h4 class="usa-card__heading">Card with Media</h4>
      </div>
      <div class="usa-card__media">
        <div class="usa-card__img">
          <img src="https://designsystem.digital.gov/img/introducing-uswds-2-0/built-to-grow--alt.jpg"
            alt="A placeholder image" />
        </div>
      </div>
      <div class="usa-card__body">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis earum
          tenetur quo cupiditate, eaque qui officia recusandae.
        </p>
      </div>
      <div class="usa-card__footer">
        <a href="#" class="usa-button">Visit Florida Keys</a>
      </div>
    </div>
  </li>
  <li class="usa-card tablet-lg:grid-col-6 widescreen:grid-col-4 usa-card--header-first">
    <div class="usa-card__container">
      <div class="usa-card__header">
        <h4 class="usa-card__heading">Media with header first</h4>
      </div>
      <div class="usa-card__media usa-card__media--exdent">
        <div class="usa-card__img">
          <img src="https://designsystem.digital.gov/img/introducing-uswds-2-0/built-to-grow--alt.jpg"
            alt="A placeholder image" />
        </div>
      </div>
      <div class="usa-card__body">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
          possimus similique nemo odit doloremque laudantium?
        </p>
      </div>
      <div class="usa-card__footer">
        <a href="#" class="usa-button">Visit Florida Keys</a>
      </div>
    </div>
  </li>
  <li class="usa-card tablet-lg:grid-col-6 widescreen:grid-col-4">
    <div class="usa-card__container">
      <div class="usa-card__header">
        <h4 class="usa-card__heading">Inset media</h4>
      </div>
      <div class="usa-card__media usa-card__media--inset">
        <div class="usa-card__img">
          <img src="https://designsystem.digital.gov/img/introducing-uswds-2-0/built-to-grow--alt.jpg"
            alt="A placeholder image" />
        </div>
      </div>
      <div class="usa-card__body">
        <p>
          Etiam vitae sodales metus. Fusce id orci dignissim, efficitur risus
          eget, tempus odio. Donec lectus ante, auctor eget cursus sed,
          convallis quis magna. Orci varius natoque penatibus et magnis dis
          parturient montes, nascetur ridiculus mus. Mauris mattis tellus
          bibendum aliquet malesuada.
        </p>
      </div>
      <div class="usa-card__footer">
        <a href="#" class="usa-button">Visit Florida Keys</a>
      </div>
    </div>
  </li>
  <li class="usa-card tablet-lg:grid-col-6 widescreen:grid-col-4">
    <div class="usa-card__container">
      <div class="usa-card__header">
        <h4 class="usa-card__heading">Exdent media</h4>
      </div>
      <div class="usa-card__media usa-card__media--exdent">
        <div class="usa-card__img">
          <img src="https://designsystem.digital.gov/img/introducing-uswds-2-0/built-to-grow--alt.jpg"
            alt="A placeholder image" />
        </div>
      </div>
      <div class="usa-card__body">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
          possimus similique nemo odit doloremque laudantium?
        </p>
      </div>
      <div class="usa-card__footer">
        <a href="#" class="usa-button">Visit Florida Keys</a>
      </div>
    </div>
  </li>
</ul>

<h3 class="site-preview-heading">Flag layout card</h3>
<ul class="usa-card-group">
  <li class="usa-card usa-card--flag flex-1">
    <div class="usa-card__container">
      <div class="usa-card__header">
        <h4 class="usa-card__heading">Default flag</h4>
      </div>
      <div class="usa-card__media">
        <div class="usa-card__img">
          <img src="https://designsystem.digital.gov/img/introducing-uswds-2-0/built-to-grow--alt.jpg"
            alt="A placeholder image" />
        </div>
      </div>
      <div class="usa-card__body">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
      <div class="usa-card__footer">
        <a href="#" class="usa-button">Visit Florida Keys</a>
      </div>
    </div>
  </li>
  <li class="usa-card usa-card--flag flex-1 usa-card--media-right">
    <div class="usa-card__container">
      <div class="usa-card__header">
        <h4 class="usa-card__heading">Flag media right inset</h4>
      </div>
      <div class="usa-card__media usa-card__media--inset">
        <div class="usa-card__img">
          <img src="https://designsystem.digital.gov/img/introducing-uswds-2-0/built-to-grow--alt.jpg"
            alt="A placeholder image" />
        </div>
      </div>
      <div class="usa-card__body">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
      <div class="usa-card__footer">
        <a href="#" class="usa-button">Visit Florida Keys</a>
      </div>
    </div>
  </li>
</ul> -->